body{
    background-color:rgb(255, 221, 179) ;
    margin:0;
}
.si{
font-style: italic;
font-size: 16pt;
}
.texto{
    background-color: rgb(236, 160, 59);
    font-size:20pt;
    text-align: center;
}
